body {
    background: url("https://img.wallpapersafari.com/desktop/1920/1080/45/69/tp9DL2.jpg") 
    no-repeat center center fixed;
    background-size: cover;

}

.konteiner {
    background-color: rgba(229, 227, 227, 0.7);
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.uudised {
    display: flex;
    flex-direction: row ;
    align-items: center;
    margin-top: 50px;
}

.uudis {
    margin-top: 40px;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border: 1px;
    border-color: black;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.autor {
    display: inline;
    font-weight: bold;
    color: rgb(67, 4, 46);
    font-size: 16px;
    width: 55%;
    

}