
.konteiner {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 400px;
    margin: 80px auto 0;
}

h1 {
    font-size: 80px;
    color: darkgray;
}

.tegevuste-konteiner {
    margin-top: 60px;
}

#tyhi-list {
    display: flex;
    flex-direction: column;
}

.tyhi-list-title {
    font-size: 36px;
}

#tegevuste-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.tegevus {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgrey;
    padding-bottom: 5px;    
}

.tegevus-tehtud {
    text-decoration: line-through;
}

.tegevuse-pealis, 
.tegevuse-kustutamine {
    cursor: pointer;
    font-size: 20px;
}

#tegevuse-sisestus {
    width: calc(100% - 10px) ;
    font-size: 20px;
    margin-top: 50px;
}



